# echo "# tv-script-generation" >> README.md
# git init
# touch .gitignore
# git add -A
# git commit -m "first commit"
# git remote add origin https://github.com/prfrl/tv-script-generation.git
# git push -u origin master

## Refresh .gitignore cache
# git rm -r --cached .


## Remove temporarily for Udacity submission
## Restore after grade received
*notebook.*
*params.*
*preprocess.*
*checkpoint*
*dlnd_tv_script_generation_original*
*new_project_*


# Data and Files
# data/*
# data/simpsons/**  # Removes directory /data/simpsons

# *.pdf


**/*save.data-*
*save.data-*
*save.*

.git/*


# Jupyter Notebook
.ipynb_checkpoints



*.DS_Store
*.pyc
*.swp
temp/*
dist/*
build/*
keras/datasets/data/*
keras/datasets/temp/*
docs/site/*
docs/theme/*
docs/sources/*
tags
Keras.egg-info
examples/img/*

# test-related
.coverage
.cache
*_cache
__pycache__/**

# developer environments
.idea
.vscode
